/* #######################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) ############################
** # Modified by Helmut Hummel (c)  2007 ################################################
** #######################################################################
** $Id: content.css 51847 2018-03-06 14:55:07Z kristov $
*/

/* Open @media all - DO NOT DELETE! */
@media all
{

/* ### Überschriften, Fließtexte ###################################################################### */

body {color:#222; font-size:83.33%; font-family:'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;}

h1,h2,h3,h4 {font-family:'Lucida Grande', Verdana, Arial, Sans-Serif; font-weight:normal;}
h1,h2,h3,h4 {font-family:'Lucida Grande', Verdana, Arial, Sans-Serif; display:block; font-weight:bold;}

h1 {font-size:1.1em; color:#765; background:inherit;  margin:0.4em 0 0.5em 0; border-bottom:1px #ccc solid; padding-top:1em; line-height:1.3em;}
h2 {font-size:1.0em; color:#fff; background:#765; margin:0.2em 0 0.5em 0; padding:0.3em; margin-top:1em;}
h3 {font-size:1.0em; color:#765; background:transparent; margin:0.4em 0 0.3em 0; padding-top:1em;}
h4 {font-size:1.0em; color:#888; background:transparent; margin:0.4em 0 0.3em 0; border-bottom:1px #ccc solid; padding-top:1em;}

#teaser h1 {font-size:1.2em; border:0;}

p,ul,dd,dt {line-height:1.5em;}
p {line-height:1.5em; margin:0 0 1em 0;}

strong,b {font-weight:bold;}
em,i {font-style:italic;}
pre, code {	font-family:"Courier New", Courier, monospace;}
address {font-style:normal; line-height:1.5em; margin:0 0 1em 0;}

hr {color:#fff; background:transparent; margin:0 0 0.5em 0; padding:0 0 0.5em 0; border:0; border-bottom:1px #ddd solid;}

acronym, abbr {border-bottom:1px dashed #c00; cursor:help;}

/* ### Bildpositionierung ############################################################################ */
img.float_left {float:left; margin-right:1em; margin-bottom:0.15em; border:0;}
img.float_right {float:right; margin-left:1em; margin-bottom:0.15em; border:0;}
img.center {text-align:center; background:#fff; padding:4px; border:1px #ddd solid;}

/* ### Auszeichnung lokaler und Externer Links ######################################################## */
a, a em.file {color:#1e6289; text-decoration:none;}
a:hover {background-color:#eef; text-decoration:underline;}

#topnav a {color:#fff; background:transparent; text-decoration:none;}
#topnav a:hover{text-decoration:underline; background-color:transparent;}

#footer a {color:#669;}
#footer a:hover {background-color:#eef;}

/*#main a[href^="http:"], #main a[href^="https:"] {padding-left:0; background-image:none;}*/

#main a.imagelink {padding-left:0; background:transparent;}

/* ######################################################################################################
** ### Formulare & Tabellen #############################################################################
** ######################################################################################################
*/
table {margin-bottom:0.5em;}

form {overflow:hidden;}

input, textarea {width:auto; font:1em Verdana, Arial, Helvetica, Sans-Serif; border:1px #ccc solid; background:#fafafa;padding:3px; color:#777;}

input[type=text]:focus, input[type=password]:focus, textarea:focus {background:#f0f0f0; color:#333; border-color:#666;}

blockquote {padding:1em 1em 0 1em; margin:0 0 1em 1em;}

/* Ungeordnete Listen ohne Listenpunkt */
ul.linklist {list-style-type:none; margin:0 0 1em 0;}
ul.linklist li {margin:0 0 1em 0;}

/* Auszeichnungen für Code, Dateien, Verzeichnisse */
pre, code {display:block; margin:0 0 1em 1em; padding:0.5em; color:#000; background:#f0f0f4; border:1px #ccd solid; border-left:8px #ccd solid;}
em.mono, em.file, em.directory {font-family:"Courier New", Courier, monospace; font-style:normal;}
em.mono {padding:0 0.3em 0 0.3em; background:#f0f0f4; border:1px #ccd solid;}

a.dl_link {display:block; padding:0; margin:0.5em auto 0 auto; background-image:none;}
a.dl_link:hover {text-decoration:none; background-color:transparent;}

/* #####################################################################
** ### Spezielle Formatanweisungen des TYPO3 Templates #################
** #####################################################################
*/
input, textarea {margin-left:1em; padding:2px; width:auto; font:1em Verdana, Arial, Helvetica, Sans-Serif; border:1px #ccc solid; background:#fafafa; color:#777;}
input[type=text]:focus, textarea:focus {background:#f0f0f0; color:#333; border-color:#666;}
img {border:0;}

/* Close @media all - DO NOT DELETE! */
}
/* ##########################
** ### Accessible menu ######
** ##########################
*/
@media screen, print {
.mainMenu dfn, .hidden {position:absolute; left:-1000em; width:20em;}
}
