/* #######################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) ############################
** # Modified by Helmut Hummel (c)  2007 ################################################
** #######################################################################
** $Id: basemod.css 302 2007-06-17 16:42:01Z hh $
**  Funktion:  Zentrales Stylesheet für nettworks, fli4l und eisfair
**
*/

@media all
{

/* Formatierung der Seite */
body { background: #56879e; padding: 10px;	}

/* Hier kann ein umlaufender Rand um die gesamte Webseite erzeugt werden */
#page{ border: 1px #36677e solid; background: #fff; }
#page_margins {border: 1px #16475e solid; min-width: 770px; max-width: 100em; margin:auto;}

/* Formatierung der Kopfbereiches */
#header { height: 80px; color: #fff; background: #ffffff url(../../img/head-back.gif) repeat-x; }
#header img {margin: 0; position: absolute; top: 0; left: 0;}
#nav_main img {float:left;}

/* Formatierung der Fußzeile */
#footer { color:#888; background:#fff; margin: 0 1em; padding: 1em 0; border-top: 1px #ddd solid; line-height: 2em;}

/* ######################################################################################################
** ### Formatierung der Inhaltsspalten ##################################################################
** ######################################################################################################
*/
#main { background: #fff ; padding: 0; } 

/* linke Spalte */
#col1 {	width: 20%; }	
#col1_content { margin-left: 1em; margin-right: 1em; color: #444; background:inherit; }

/* Rechte Spalte */
#col2 {	width: 210px; }
#col2_content {	margin-left: 1em; margin-right: 1em; }

/* Mittlere Spalte */
#col3
{
  	margin-left: 20%; 
   	margin-right: 210px; 
	border-left: 0px dotted #ddd;
	border-right: 0px dotted #ddd;
}

#col3_content { margin-left: 1em; margin-right: 1em; }

/* Anzeige von Scrollbalken, falls notwendig*/
.floatbox { overflow:auto; }

/* ######################################################################################################
** ### Formatierung des Teasers der Startseite ##########################################################
** ######################################################################################################
*/

#teaser {margin:0; padding:0; background:#D5D5D5; color:#888; border-top:none;}
#teaser div {float:left; width:auto; margin-right:1em;}
#teaser .block1 {padding:0.5em 0 0.4em 1em; font-size:0.82em;}
#teaser .block1 a {color:#334;}
#teaser .block1 a:hover {background:transparent;}
#teaser .block3 {width:45%; padding-top:0.5em; font-size:0.82em;}
#teaser .langMenu {float:right; padding-top:0.45em; margin-right:.5em;}
#teaser .langMenu img { margin-right:.5em;}
#teaser .selectFontSize {float:right; padding-top:0.4em; padding-right:1em;}
#teaser .selectFontSize a {color:#334;}
#teaser .selectFontSize a:hover {background:transparent;}
#teaser .aktDatum {float:right; font-size:0.82em; padding-top:0.5em; padding-right:1em;}
#teaser .block3 .title {font-family:'Lucida Grande', Verdana, Arial, Sans-Serif; display:block; font-size:1.2em; font-weight:bold; color:#336699; background:inherit; margin:0 0 0.5em 0;}

} 
