/* #######################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) ############################
** # Modified by Helmut Hummel (c)  2007 ################################################
** #######################################################################
** $Id: 2col.css 51847 2018-03-06 14:55:07Z kristov $
** Funktion:  Zentrales Stylesheet 2-Spalten-Layout (Randspalte rechts) 
**
*/
@import url(main/base.css);
@import url(modifications/basemod.css);
@import url(modifications/basemod_2col_left_vlines.css);
@import url(navigation/nav_fli4l.css);
@import url(navigation/nav_vlist.css);
@import url(main/content.css);
@import url(print/print_003.css);
