/* ------------------------------------------- */ 
/* keep in sync with srv/www/admin/bootlog.sed */
/* ------------------------------------------- */

td.time {
   white-space: nowrap;
}

td.date {
   white-space: nowrap;
}

td.bootlog {
   padding-left: 20px;
}

td.beginscript {
   background: #7FFF7F;
   font-weight: bold;
}

td.info {
   background: #BFFFBF;
   padding-left: 20px;
}

td.info-cyan {
   background: #BFFFFF;
   padding-left: 20px;
}

td.warning {
   background: #FFBFBF;
   padding-left: 20px;
}

td.error {
   background: #FFFFBF;
   padding-left: 20px;
}

td.debug {
   background: #BFBFFF;
   padding-left: 20px;
}

.floatbox { overflow:hidden; }
