tr.head {
    border: 1px solid #BBF;
    background-image: none;
    background-color: #C1D2EC;
    color: #244E7E;
    padding: 1px;
    font-weight: bold;
}

.normtable td {
    width: 20px;
    text-align: center;
    white-space: nowrap;
}

/* These are the colors for the Circuits in the Timetable */
.circuit1  { background-color: #FEA }
.circuit2  { background-color: #EFA }
.circuit3  { background-color: #CFA }
.circuit4  { background-color: #AFA }
.circuit5  { background-color: #AFE }
.circuit6  { background-color: #9EF }
.circuit7  { background-color: #9CF }
.circuit8  { background-color: #AAF }
.circuit9  { background-color: #DAF }
.circuit10 { background-color: #FAF }
.circuit11 { background-color: #DC8 }
.circuit12 { background-color: #CD8 }
.circuit13 { background-color: #AD8 }
.circuit14 { background-color: #8D8 }
.circuit15 { background-color: #8DC }
.circuit16 { background-color: #7CD }
.circuit17 { background-color: #7AD }
.circuit18 { background-color: #88D }
.circuit19 { background-color: #B8D }
.circuit20 { background-color: #D8D }
/* If you have more circuits, add formats for them here */
