.offline   { background-color: #FCD }
.online     { background-color: #CFD }
.calling   { background-color: #FFC }
#cpu1      {
    padding:0;    
    border: 0px;
    /*width: 10px;*/
}
#cpu2      {
    padding:0;
    text-align:left;
    background-color: #AD9;
    border: 0px;
    width: 100px;
}

#refresh {
    display: none;
}

iframe.HiddenFrame {
    position:absolute;
    left:0;top:0;
    width:0;
    height:0;
    visibility:hidden;
}

td {
    text-align: center;
    vertical-align:middle;
    padding:0;
    margin:0;
}

form.usagetext,img {
    padding: 0;
    margin: 0;
}

form.usagetext input,form.connectiontext input,form.uptimetext input {
    font-size: 1.0em;
    background-color: #FFF;
    border-style: none;
    padding: 0;
    margin: 0;
}

ul.circuits {
    margin: 0em;
    padding: 0 0 0 1.4em;
    list-style-type:none;
    float: left;
    text-align: left;
}

ul.circuits li#cselected {
    list-style-type:disc;
    font-weight: bold;
}

ul.dialmode {
    margin: 0em;
    padding: 0 0 1em 13em;
    list-style-type:none;
    text-align: left;
}

ul.dialmode li#dselected {
    list-style-type:disc;
    font-weight: bold;
}

.tabmain form {
    white-space: nowrap;
    clear:both;

}
