@media screen
{
	body { background: #bcd5b8; }
	#page_margins {border-color: #27613a; }
	#page {border-color: #bcd5b8; }
}

@media all
{

	#header { background: #73af8c url("../img/fli4l-head-back.gif") repeat-x; }
	
	#nav_main {background-color: #27613a }

	#mainMenu li a:hover { background-color:#27613a; color: #fff; }
	#mainMenu li ul li a:hover { background-color:#27613a; color: #fff; }
	#mainMenu li#selected a:hover { background-color:#27613a; color: #fff; }
	#mainMenu li ul li#selected a:hover { background-color:#27613a; color: #fff; }
	#mainMenu span.h1 {font-family:'Lucida Grande', Verdana, Arial, Sans-Serif; display:block; font-weight:bold;font-size:1.1em; color:#27613a; background:inherit;  margin:0.4em 0 0.5em 0; border-bottom:1px #ccc solid; padding:1em 1.3em 0 0; line-height:1.3em;}
	h1 { color: #27613a }
	h2 { color: #fff; background-color: #bcd5b8 }
    /* format the action-buttons */
    .actions, .sbutton {
        background: #bcd5b8;
        border-color: #666;
        color: #000000;
    }
}

/*iframe for legacy opts*/
#iframe {
    width: 100%;
    height: 600px;
	border: 0px;
}

/* Tabs */
.tabmain {
	clear: both;
	float: left;
}
.tabmain ul.tab {
	font-size: 11px;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
	line-height: 1em;
}
ul.tab li {
	float: left;
	background: url(/img/tabgl.gif) no-repeat top left;
	padding: 0 0 0 6px;
	margin: 0;
	border-bottom: none;
}
ul.tab li a, ul.tab li a:link, ul.tab li a:visited, ul.tab span.nolink {
	float: left;
	display: block;
	color: #eee;
	background: transparent;
	background: url(/img/tabgr.gif) no-repeat top right;
	padding: 5px 14px 3px 8px;
	text-transform: none;
	text-decoration: none;
	font-weight: normal;
	white-space: nowrap;
}
/* Commented Backslash Hack   hides rule from IE5-Mac \*/
ul.tab li a, ul.tab span.nolink {
	float: none;
}
/* End IE5-Mac hack */
ul.tab li a:hover {
	color: #fff;
	background-color: transparent;
}
ul.tab li.selected {
	background-image: url(/img/tabbl.gif);
}
ul.tab li.selected span.nolink {
	color: #fff;
	background-image:  url(/img/tabbr.gif);
	font-weight: bold;
}

.clear {
	clear: both;
	width: 1px;
	height: 1px;
	font-size: 1px;
}

.tabcont {
	clear: both;
	text-align: left;
	border: 1px solid #27613A;
	background: #FFF;
	margin-right: auto;
	margin-top: -1px;
}

.tabcont h2 {
	clear: both;
	color: #000;
	font-size: 12px;
	margin: 5px 0px;
	height: 17px;
}

.tabcont td, .tabcont th {
	font-size: 11px;
}

.tabmain .tabmain {
	margin: 4px;
}

.tabmain .tabcont .tabmain {
	text-align: center;
}

/* Normal Table in Tab-Window */

.normtable {
	border-collapse: collapse;
	border-spacing: 0px;
	empty-cells: show;
	padding: 0px;
	margin: 1px 0px 0px 1px;
	border: 1px solid #73AF8C;
}

.normtable td {
	border: 1px solid #73AF8C;
	padding: 2px;
}

.normtable th {
	border: 1px solid #73AF8C;
	background-image: none;
	background-color: #BCD5B8;
	color: #27613A;
	padding: 1px;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
}
.normtable th a:visited,.normtable th a:link {text-decoration: underline;}
.normtable tr.odd td { background-color: #dff7da; }
.normtable tr.even td { background-color: #bcd5b8;}

/* Error-Box */
.err ul.tab li,.err ul.tab li a,.err  ul.tab li a:visited,.err  ul.tab span.nolink,.err ul.tab li.selected,.err ul.tab li.selected span.nolink {
	background: none;
	background-color: #F55;
	color: white;
}

.err .tabmain .tabcont {
	border: 1px solid #FF0000;
	background: #FEE;
	padding: 8px;
	font-size: 12px;
	color: #990000;
}

/* Info-Box */
.info ul.tab li,.info ul.tab li a,.info  ul.tab li a:visited,.info  ul.tab span.nolink,.info ul.tab li.selected,.info ul.tab li.selected span.nolink {
	background: none;
	background-color: #090;
	color: white;
}

.info .tabmain .tabcont {
	text-align: center;
	border: 1px solid #009900;
	background: #EFE;
	padding: 8px;
	font-size: 12px;
	color: #009900;
}

