.tooltip-container {
	background-color: #e9f2ff;
	border: 1px solid #8eaace;
	padding: 5px;
	max-width: 200px;
	z-index: 10000;
	opacity: 0.95;
	/* gecko only */
	-moz-box-shadow: 4px 4px 5px #888888;
	-moz-border-radius: 4px;
	/* webkit only */
	-webkit-box-shadow: 4px 4px 5px #888888;
	-webkit-border-radius: 4px;
	/* trident only */
	filter:
	progid: DXImageTransform.Microsoft.DropShadow(OffX=4, OffY=4, Color='#888888', Positive='true')
	progid: DXImageTransform.Microsoft.Alpha(opacity=90);
}

.tooltip-title {
	font-weight: bold;
	white-space: nowrap;
}

.tooltip-body {

}
