/*
#-----------------------------------------------------------------------------
#                                                                 __FLI4LVER__
# /usr/local/htdocsopenvpn.css - stylesheet for openvpn-webgui
#
# Creation:     26.03.2005  hh
# Last Update:  $Id: status_OpenVPN.css 51847 2018-03-06 14:55:07Z kristov $
#-----------------------------------------------------------------------------
*/

/* ----- Core stuff ----- */

#refresh {
           display: none;
}

iframe.HiddenFrame {
           position:absolute;
           left:0;
           top:0;
           width:0;
           height:0;
           visibility:hidden;
}

span.spacer {
           margin: 14px;
}


/* ----- links ----- */
a img {
	  border: 0;
}

/* ------- Menu Main Table---------*/

td {
	  text-align: left;
}

td.icons {
           text-align: left;
           white-space: nowrap;
}

td.state {
           text-align: left;
           white-space: nowrap;
}

/* ------- Connections/ Infos ---------*/
.connection td {
    padding: 5px;
}

form.statetext {
    padding: 0;
}

form.statetext input {
           font-size: 0.8em;
           background-color: #dff7da;
           border-style: none;
}

form.statetext input.even {
           background-color: #bcd5b8;
}

/* ------- Detail-Tables ---------*/
table#log,table.chain,table.stats,table.bridge {
           padding: 0px;
           margin-top: 8px;
}

/* ------- Bridge Config ---------*/

.bridge td {
           padding: 1px 25px 0 0;

}

/* ------- Packet Filter ---------*/
.tabmain .chain td {
    padding: 2px;
}
table.chain {
           margin: 0;
}

/* ------- Log ---------*/

tr.I td {
           background-color: #EEF;
}

tr.N td {
           background-color: #FDD;
}

/* ------- Stats ---------*/

table.stats td {
           white-space: nowrap;
           padding: 0px 50px 0px 0px;
}

table.stats td.number {
           font-family: "Courier New",courier,monospace;
           font-size: 13px;
           text-align: right;
           padding: 0px 5px 0px 10px;
           border-right-color: #fff;
}

/* ------- Config ---------*/

form {
           margin:0;
           padding-top: 8pt;
}

input {
           margin: 0;
           padding: 0;
}

textarea {
           background: #EEF;
           border: 1px solid #BBF;
}

/* ------- Support ---------*/

.support table#log th,.support table#log,.support table.bridge,.support tr.head td,.support #log td,.support .normtable td{
           margin: 0;
           font-weight: normal;
           border: 0;
           color: black;
           background-color: #FFF;
}

.support table.chain, .support table.chain th , .support table.chain td ,  .support table.bridge {
    border: 0;
    font-weight: normal;
    padding: 0;
    background-color: #FFF;
    color: black;
}

