/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH     { font-family: "Century Schoolbook", serif; }
.MATH I   { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY         { font-size : xx-small }
SMALL.TINY          { font-size : x-small  }
SMALL.SCRIPTSIZE    { font-size : smaller  }
SMALL.FOOTNOTESIZE  { font-size : small    }
SMALL.SMALL         {  }                       /* medium */
BIG.LARGE           {  }                       /* medium */
BIG.XLARGE          { font-size : large    }
BIG.XXLARGE         { font-size : x-large  }
BIG.HUGE            { font-size : larger   }
BIG.XHUGE           { font-size : xx-large }

/* heading styles */
H1      {  }
H2      {  }
H3      {  }
H4      {  }
H5      {  }

/* mathematics styles */
DIV.displaymath     { } /* math displays */
TD.eqno             { } /* equation-number cells */


/* document-specific styles come next */
PRE.preform     {   }
PRE.verbatim    {   }

SPAN.bf         {   }
SPAN.tt         {   }
SPAN.textit     { font-style: italic }
SPAN.arabic     {   }
SPAN.textbf     { font-weight: bold  }

SPAN.logo-LaTeX { font-family: "Century Schoolbook", serif ; }
SPAN.logo-LaTeX SUP {
    vertical-align: baseline ;
    font-size: 0.75em ;
    position: relative ;
    top: -0.25em ;
    margin-left: -0.3em ;
    margin-right:-0.05em ;
}
SPAN.logo-LaTeX SUB {
    font-size: 0.8em ;
    margin-left: -0.2em ;
    margin-right: -0.1em ;
}

.nav-fli4l {
    color: #ffffff ;
    text-align: right ;
    font-size: x-large ;
    font-weight: bold ;
    position: absolute ;
    right: 3% ;
    top: 0.15em ;
    background: #27613A ;
}

DIV.em          {   }
DIV.flushleft   {   }
DIV.center      {   }
DIV.verse       {   }
DIV.alltt       {   }
DIV.scriptsize  {   }
DIV.large       {   }
DIV.Large       {   }
DIV.small       {   }
DIV.LaTeX       {   }
DIV.logo-LaTeX  {   }

.author_info_table {   }
.author_info       {   }
.ChildLinks        {   }
.TofC              {   }

BODY {
    font-family: Sans-Serif ;
    background-color : #ffffff ;
    color : #000000 ;
    margin-top: ;
    margin-right: 3% ;
    margin-bottom: ;
    margin-left: 5% ;
}
BODY A:link { 
    color: blue ;
    text-decoration: none ;
}
BODY A:visited {
    color: blue ;
    text-decoration: none ;
}
BODY A:active {
    color: red ;
    text-decoration: underline ;
}

DIV.navigation {
    font-family: ;
    background-color : ;
    color : ;
    margin-top: ;
    margin-right: ;
    margin-bottom: ;
    margin-left: ;
}
DIV.navigation A:link { color: }
DIV.navigation A:visited { color: }
DIV.navigation A:active { color: }

table {
    border-collapse: collapse;
}
tr {
    border: 1px grey ;
    vertical-align: top ;
}

BODY.foot {           /* used in footnode file */
    background-color : #eeeee0 ;
    color : #000000 ;
}
BODY.foot A:link { color:#9944EE }
BODY.foot A:visited { color:#0000ff }
BODY.foot A:active { color:#00ff00 }
